.question {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 30px;
  overflow: auto;

  &__headline {
    padding: 10px 15px;
    padding-right: 30px;
    padding-left: 0;
    font-size: $font-size-helper;
    line-height: $line-height-2;
    margin: 0;
    border-top: 1px solid $light-gray;
    border-bottom: 1.5px solid $light-gray;
    margin-bottom: 20px;
  }

  &__button {
    &-ext {
      position: absolute;
      top: 5px;
      right: 5px;
      display: block;
      width: 24px;
      height: 24px;
      margin-left: auto;
      border: none;
      background-color: transparent;
    }

    &-line {
      position: absolute;
      width: 80%;
      height: 3px;
      background-color: #a29c9c;
      top: 11px;
      left: 3px;
      border-radius: $border-radius-2;
      &--fisrt {
        rotate: 45deg;
      }

      &--second {
        rotate: -45deg;
      }
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-size: $font-size-title;
      line-height: $line-height-2;
      font-weight: 500;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__sub-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__sub-item {
    display: flex;
    padding: 14px 16px;
    border: 1px solid rgba(217, 216, 230, 0.55);
    border-radius: $border-radius-1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &--checked {
      border: 1px solid $green;
    }

    &--checked > .radio__wrapper {
      border: 1px solid $green;
      background-color: $green;
      box-shadow: inset 0 0 0 4px #ffff;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.radio__wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $dark-gray;
  border-radius: $border-radius-3;
  border: 1px solid $dark-gray;
  transition: 0.3s ease-in-out;
}

.question__sub-item-text {
  font-size: $font-size-helper;
  margin-left: 15px;
}

.question__item-fact {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 20px;
  margin-top: 30px;
}

.question__item-fact--hidden {
  display: none;
}

.question__item-fact-img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.question__item-fact-text {
  margin: 0;
  font-size: 14px;
  background-color: $light-gray;
  border-radius: $border-radius-2;
  padding: 10px 15px;
}

.question__message {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
  background-color: $light-gray;
  z-index: 2;
}

.question__message-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin: 0 auto;
  padding: 10px;
}

.question__message-wrapper {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 6px);
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  align-items: center;
  flex-grow: 1;
}

.question__message-programm-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.percent{
  font-weight: 700;
}

.question__message-programm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $dark-gray;
  width: 40px;
  height: 40px;
  border-radius: $border-radius-2;
  margin-right: 10px;
}

.question__message-programm-surprise {
  position: absolute;
  top: -8px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: $border-radius-3;
  background-color: $dark-gray;
  border: 2px solid $white;
  box-shadow: 0 4px 10px 0 var(--color-bg-alpha2, rgba(0, 0, 0, 0.1));
}

.question__message-programm-surprise svg {
  width: 6px;
  height: 6px;
  fill: $dark-gray-2;
}

.question__button-next {
  width: max-content;
  min-height: 45px;
  padding: 0 20px;
  transition: all 0.5s ease;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  line-height: 1;
  background-color: $green;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.question__button-next--disabled {
  background-color: $dark-gray-2;
  box-shadow: unset;
}

.question__list-stage {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: $dark-gray;
  border-radius: 15px;
}

.question__list-stage-line {
  position: relative;
  display: block;
  width: 0;
  height: 100%;
  background-color: $green;
  background-image: linear-gradient(90deg, #2f9122, #56d345);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 15px;
}

.question__list-stage-line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 20px 20px;
  animation: move 3s linear infinite;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
