<div class="first-screen__container">
  <h2 class="first-screen__title">
    Hari ini kami memberi Anda kesempatan untuk mengikuti survei, yang hasilnya
    Anda akan menerima rencana penurunan berat badan yang dipersonalisasi secara
    gratis sesuai dengan metodologi unik dari dr Grace Judio-Kahl!
  </h2>

  <p class="text">
    Siti Badriah, Ussy Sulistiawaty, Ivan Gunawan, Okky Lukman —dan ini belum
    lengkap semua dari mereka yang telah dibantu oleh Dr. Grace Judio-Kahl untuk
    menurunkan berat badan. Cukup dalam 5 menit, Anda dapat memiliki rencana
    menurunkan berat badan pribadi dari ahli gizi selebriti.
  </p>

  <p class="text">
    Menurunkan berat badan bisa sangat sulit. Sangat mudah untuk jadi
    kebingungan karena di mana-mana ada banyak judul berita tentang berbagai
    macam diet dan alat bantu penurunan berat badan dan pembakar lemak. Mengapa
    itu semua tidak ada hasilnya? Faktanya adalah setiap orang membutuhkan
    pendekatan individu. Hanya dengan pendekatan pribadi, proses penurunan berat
    badan akan efektif, dan kelebihan berat itu tidak akan kembali setelah
    sebulan.
  </p>

  <p class="text">
    Berdasarkan hasil tes ini, salah satu ahli gizi terbaik di Indonesia akan
    menyusun rencana penurunan berat badan yang disesuaikan untuk Anda, yang
    dijamin akan memberikan hasil yang nyata hanya dalam beberapa hari!
  </p>

  <figure class="first-screen__doctor-figure">
    <img
      class="first-screen__doctor-img"
      src="img/content/content-1.jpg"
      alt=""
    />

    <figcaption class="first-screen__doctor-figcaption">
      dr. Grace Judio-Kahl, Msc, MH, CHt, Dipl. AAAM
    </figcaption>
  </figure>

  <p class="text">
    Dr Grace Judio-Kahl adalah seorang ahli fisiologi, gaya hidup dan manajemen
    berat badan yang telah membantu lebih dari 100.000 wanita dan pria di
    Indonesia untuk menemukan keselarasan dengan diri mereka sendiri dengan
    mengembangkan rencana penurunan berat badan yang sesuai dengan kebutuhan
    mereka!
  </p>

  <p class="text">
    Seorang spesialis gaya hidup, ahli perilaku, ahli pengendalian berat badan,
    dan ahli fisiologi. Dia berspesialisasi dalam manajemen berat badan,
    obesitas, dan gangguan makan seperti kebiasaan ngemil yang buruk, gangguan
    makan larut malam, bulimia, dan sebagainya.
  </p>

  <p class="text">
    Dia juga menyusun metode pribadi yang telah membantu ratusan ribu wanita dan
    pria di Indonesia untuk menurunkan berat badan.
  </p>

  <div class="first-screen__start">
    <img
      src="img/content/content-2.jpg"
      alt=""
      class="first-screen__start-vidget"
    />

    <p class="first-screen__start-text">
      <b> Bonus setelah lulus tes: </b>
      Rencana penurunan berat badan individu
    </p>

    <button class="button first-screen__start-link">IKUTI TESNYA</button>
  </div>
</div>
