<!-- Хедер -->
<header class="header">
  <div class="header__wrapper">
    <div class="header__top">
      <p class="header__top-date">...</p>

      <ul class="header__top-list" style="float: right">
        <li class="header__top-item">
          <a class="header__top-item-link" href="https://mail.kemkes.go.id/">
            LOGIN
          </a>
        </li>

        <li class="header__top-item">
          <a
            class="header__top-item-link"
            href="https://www.kemkes.go.id/folder/view/full-content/structure-kamus.html"
          >
            KAMUS
          </a>
        </li>

        <li class="header__top-item">
          <a
            class="header__top-item-link"
            href="https://www.kemkes.go.id/folder/view/full-content/structure-faq.html"
          >
            FAQ
          </a>
        </li>

        <li class="header__top-item">
          <a
            class="header__top-item-link"
            href="https://www.kemkes.go.id/folder/view/01/structure-peta-situs.html"
          >
            PETA SITUS
          </a>
        </li>
      </ul>
    </div>

    <div class="header__bottom"></div>
  </div>
</header>
