<div class="product">
  <h2 class="title">
    Program pelatihan dan gizi untuk mendapat hasil permanen. Berat badan turun
    dalam 30 hari berkat "SlimMax".
  </h2>

  <p class="text">
    <b> Tips Program: </b>

    Program ini mencakup saran-saran tentang program aktivitas fisik dan gizi
    selama program berlangsung. Jika Anda mengikuti petunjuk program ini, maka
    Anda berpotensi turun berat badan hingga 20 kg dalam satu bulan.
  </p>

  <p class="text">
    *Program ini disusun dengan bantuan produsen produk pembakar lemak
    "SlimMax". Hasil disajikan ketika "SlimMax" digunakan. Rencana ini disusun
    oleh ahli gizi di Pusat Penelitian di Jakarta.
  </p>

  <p class="text">
    <b>
      Apa pun yang Anda makan atau seberapa sering Anda berolahraga, Anda dapat
      mengikuti rekomendasi dari rencana yang dibuat untuk Anda, atau hanya
      menggunakan "SlimMax", tanpa mengubah gaya hidup Anda. Namun Anda akan
      melihat bahwa kemajuan Anda sedikit lebih lambat dibandingkan dengan jika
      mengikuti program. Dalam hal ini, Anda bisa turun hingga 11 kg per bulan.
    </b>
  </p>

  <h3 class="sub-title">
    Menurut survei di antara lebih dari 100.000 pengguna "SlimMax", produk ini
    menunjukkan efisiensi tinggi sebagai berikut:
  </h3>

  <ol class="list-group list-group-flush">
    <li class="list-group-item">1. Pencernaan menjadi normal: 97% responden</li>
    <li class="list-group-item">
      2. Energi muncul, tidur membaik: 95% responden
    </li>
    <li class="list-group-item">
      3. Berhasil menurunkan berat badan: 99% responden
    </li>
    <li class="list-group-item">
      4. Berat yang dicapai tetap bertahan selamanya: 95% responden
    </li>
  </ol>

  <h3>Isi program:</h3>
  <div class="list-group">
    <a href="#1step" class="list-group-item list-group-item-action"
      >Pendahuluan</a
    >
    <a href="#2step" class="list-group-item list-group-item-action"
      >Tingkat latihan minimal</a
    >
    <a href="#3step" class="list-group-item list-group-item-action"
      >Rekomendasi gizi</a
    >
    <a href="#4step" class="list-group-item list-group-item-action"
      >Makanan dan minuman merusak yang harus dihindari</a
    >
    <a href="#5step" class="list-group-item list-group-item-action"
      >Tabel hasil</a
    >
  </div>

  <!-- Первый шаг -->
  <h4 class="title--little margin-top" id="1step">1) Pendahuluan</h4>

  <p class="text">
    Program ini dirancang untuk jangka waktu satu bulan dan tidak hanya mencakup
    daftar latihan, tetapi juga tips tentang gizi yang tepat. Jika Anda
    mengikuti semua petunjuk yang diberikan, Anda bisa turun hingga 15 kg dalam
    satu bulan. Kesehatan Anda tidak akan terganggu dan Anda hanya akan
    kehilangan lemak, bukan air atau otot. Jadi, pada akhirnya Anda akan
    menyingkirkan kelebihan berat badan Anda.
  </p>

  <!-- Второй шаг -->
  <h4 class="title--little" id="2step">2) Tingkat latihan minimal</h4>

  <p class="text">
    Pilihan terbaik untuk tubuh Anda adalah berolahraga setiap dua hari sekali.
    Jangan berlebihan—aktivitas 30-50 menit per hari sudah cukup untuk
    memperkuat otot dan mulai membakar lemak. Anda memerlukan aktivitas fisik
    tingkat sedang, karena melakukan olahraga keras, terutama tanpa persiapan
    yang diperlukan, dapat berdampak buruk bagi kesehatan.
  </p>

  <h5 class="text">
    <b> Pemanasan: </b>
  </h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lari lambat di tempat</li>
    <li class="list-group-item">Memutar torso ke kanan dan ke kiri</li>
    <li class="list-group-item">Squat (10-15 kali)</li>
    <li class="list-group-item">Ayunan lengan bebas</li>
  </ul>

  <p class="text margin-top">
    Dianjurkan melakukan pemanasan setidaknya selama 5-8 menit sebelum latihan.
  </p>

  <h5 class="text">
    <b> Latihan dasar: </b>
  </h5>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          <b>1. Berjalan atau berlari 5 km/berenang 1 jam</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          <img class="img" src="./img/program/content-1.png" alt="" />

          <p class="text margin-top">
            Jika pergi ke kolam renang membuat Anda tidak nyaman, Anda bisa
            memprioritaskan lari atau jalan kaki. Tidak masuk akal untuk mulai
            berjalan dengan jarak sejauh maraton secara teratur dengan langkah
            cepat.
          </p>

          <p class="text">
            Nanti, ketika berjalan sudah berubah menjadi sesuatu yang
            menyenangkan, Anda dapat meningkatkan jarak dan kecepatan. Jangan
            terburu-buru menambah beban – yang penting adalah membuat pikiran
            Anda senang dengan inisiatif yang baik ini alih-alih membuat takut.
            Dua hari menempuh jarak 5 km jauh lebih baik daripada berpacu sejauh
            15 km dan berhenti total setelahnya karena penolakan. Jangan abaikan
            jalan kaki sebagai olahraga rutin.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          <b>2. Sit up—2 set dengan 10 repetisi</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body">
          <img class="img" src="./img/program/content-2.jpg" alt="" />

          <p class="text margin-top">
            Luruskan lengan Anda ke atas kepala atau pegang di belakang kepala.
            Buang napas, kencangkan perut, dan tahan napas. Pegang kepala, bahu,
            dan tulang belikat Anda menjauh dari lantai, biarkan punggung bagian
            bawah menempel ke tanah. Perlahan kembali ke posisi awal dan ulangi.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          <b>3. Squat—3 set dengan 15 repetisi</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body">
          <img class="img" src="img/program/content-3.jpg" alt="" />

          <p class="text margin-top">
            Untuk melakukan squat standar, Anda harus menjaga punggung tetap
            lurus. Kemudian mulailah menurunkan pinggul Anda secara perlahan
            hingga sejajar atau hampir sejajar dengan lantai. Pada posisi
            terendah, berhenti, tahan tubuh selama 1-2 detik sambil mengembuskan
            napas dan kembali ke posisi awal.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour"
        >
          <b>4. Angkat lengan-kaki—3 set 16 repetisi</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour"
      >
        <div class="accordion-body">
          <img class="img" src="./img/program/content-4.jpg" alt="" />

          <p class="text">
            Jaga keseimbangan, luruskan punggung dan pada saat yang sama secara
            perlahan angkat kaki kiri dan lengan kanan hingga sejajar dengan
            lantai. Jeda, perlahan kembali ke posisi awal dan ulangi latihan di
            sisi yang berlawanan. Lakukan latihan secara perlahan, tanpa bantuan
            momentum, hanya menggunakan kekuatan dan kerja otot.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Третий шаг -->
  <h4 class="title--little margin-top" id="3step">3) Rekomendasi diet:</h4>

  <h5 class="text"><b>5 aturan gizi utama:</b></h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      1. Konsumsi 2 gram protein per kilogram berat badan per hari. Protein akan
      membantu mengurangi rasa lapar dan menjaga massa otot dalam proses
      penurunan berat badan.
    </li>
    <li class="list-group-item">
      2. Batasi atau hilangkan sama sekali gula dan manisan, roti putih, dan kue
      kering.
    </li>
    <li class="list-group-item">
      3. Konsumsi lebih banyak serat dari buah-buahan, sayuran, dan biji-bijian.
    </li>
    <li class="list-group-item">
      4. Minum segelas air putih 30 menit sebelum makan.
    </li>
    <li class="list-group-item">5.Kurangi asupan kalori Anda.</li>
  </ul>

  <img class="img" src="img/program/content-5.jpg" alt="" />

  <p class="text">
    Aturan “seperempat, seperempat, setengah” adalah cara mudah untuk mengingat
    proporsi yang benar dari setiap kelompok makanan untuk mencapai makanan yang
    seimbang. Caranya adalah:
  </p>

  <ol class="list-group list-group-flush">
    <li class="list-group-item">
      Isi seperempat piring Anda dengan beras-berasan utuh
    </li>
    <li class="list-group-item">
      Isi seperempat piring Anda dengan sumber protein yang baik
    </li>
    <li class="list-group-item">
      Isi setengah piring Anda dengan buah-buahan dan sayuran
    </li>
  </ol>

  <h5 class="text margin-top">
    <b> Rencana makan 5 hari </b>
  </h5>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          <b>Hari 1</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Sarapan:</b> Oatmeal dan beberapa buah/kacang kering, susu
              rendah lemak dan buah-buahan.
            </li>
            <li class="list-group-item">
              <b>Camilan pertama:</b> Buah atau kerupuk dengan keju krim.
            </li>
            <li class="list-group-item">
              <b>Makan siang:</b> Sup dengan ayam dan sayuran. Salad sayuran
              dengan minyak zaitun.
            </li>
            <li class="list-group-item">
              <b>Camilan kedua:</b> Dua potong roti sereal dengan teh atau jus
              tanpa pemanis.
            </li>
            <li class="list-group-item">
              <b>Makan malam:</b> Lada Bulgaria, nasi dengan daging sapi
              cincang. Tomat ceri dan sejumlah sayuran hijau.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          <b>Hari 2</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Sarapan:</b> Salad sayuran dengan minyak zaitun dan sepotong
              roti gandum.
            </li>
            <li class="list-group-item">
              <b>Camilan pertama:</b> Keju cottage bebas lemak, buah beri segar
              atau beku.
            </li>
            <li class="list-group-item">
              <b>Makan siang:</b> Brokoli panggang dengan ikan. Selada segar.
            </li>
            <li class="list-group-item">
              <b>Camilan kedua:</b> Kue oatmeal, teh hijau
            </li>
            <li class="list-group-item">
              <b>Makan malam:</b> Fillet ikan dengan sayuran. Yogurt tawar.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          <b>Hari 3</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Sarapan:</b> Bubur oatmeal dengan kismis.
            </li>
            <li class="list-group-item">
              <b>Camilan pertama:</b> Satu gelas jus segar dan dua sereal.
            </li>
            <li class="list-group-item">
              <b>Makan siang:</b> Dada ayam rebus dengan nasi. Salad sayuran
              ringan.
            </li>
            <li class="list-group-item">
              <b>Camilan kedua:</b> Yogurt tawar, roti diet.
            </li>
            <li class="list-group-item">
              <b>Makan malam:</b> Ikan bakar atau rebus. Salad hijau dengan saus
              jus lemon.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour"
        >
          <b>Hari 4</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour"
      >
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Sarapan:</b> Soba rebus dengan satu sendok makan minyak sayur.
            </li>
            <li class="list-group-item">
              <b>Camilan pertama:</b> Satu apel, yogurt.
            </li>
            <li class="list-group-item">
              <b>Makan siang:</b> Daging dan kentang kukus. Salad sayuran.
            </li>
            <li class="list-group-item">
              <b>Camilan kedua:</b> Satu buah atau sayuran pilihan Anda.
            </li>
            <li class="list-group-item">
              <b>Makan malam:</b> Ikan dengan nasi, sepiring sayuran pilihan
              Anda.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFive"
        >
          <b>Hari 5</b>
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFive"
      >
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Sarapan:</b> Sandwich telur goreng dengan tomat, keju, dan roti
              hitam.
            </li>
            <li class="list-group-item">
              <b>Camilan pertama:</b> Buah atau kerupuk.
            </li>
            <li class="list-group-item">
              <b>Makan siang:</b> Sup vegetarian. Salad sayuran dengan saus
              minyak zaitun.
            </li>
            <li class="list-group-item">
              <b>Camilan kedua:</b> Yogurt, beberapa kue gandum.
            </li>
            <li class="list-group-item">
              <b>Makan malam:</b> Telur dadar dua protein dengan susu, tomat,
              dan daun bawang.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p class="text margin-top">
    Anda dapat mengubah rencana dan membuatnya sendiri dengan syarat utama
    adalah mempertahankan buah-buahan, produk susu, biji-bijian, sereal, ikan,
    dan ayam tetap ada dalam makanan Anda.
  </p>

  <!-- Четвертый шаг -->
  <h4 class="title--little" id="4step">
    4) Masih ada aturan tertentu yang harus Anda ikuti:
  </h4>

  <ul class="list-group list-group-flush list-group-numbered">
    <li class="list-group-item">
      Singkirkan garam. Garam akan menahan air di dalam tubuh, yang akan
      memperlambat efek.
    </li>
    <li class="list-group-item">
      Cobalah untuk tidak menggunakan saus yang dibeli dari toko. Saus semacam
      itu tinggi kalori dan penuh dengan bahan tambahan buatan. Percayalah,
      membuat saus sendiri jauh lebih sehat dan menyenangkan!
    </li>
    <li class="list-group-item">
      Minum teh hijau, jus buah dan sayuran. Jangan terlalu banyak minum kopi,
      jus yang dibeli di toko, dan teh dengan gula. Juga, minum alkohol
      sesedikit mungkin, karena tinggi kalori dan membangkitkan nafsu makan.
    </li>
  </ul>

  <!-- Пятый шаг -->
  <h4 class="title--little margin-top" id="5step">5) Tabel hasil tes.</h4>

  <p class="text">
    Sekitar 98% subjek uji telah mencapai hasil penurunan berat badan yang
    signifikan. Anda dapat melihat hasil rata-rata untuk program ini pada tabel
    di bawah ini.
  </p>

  <p class="text">
    50.000 orang (pria dan wanita) ikut serta dalam pengujian SlimMax.
  </p>

  <div class="allocated-block-2">
    <div class="allocated-block-2__content">
      <h4 class="title--little no-margin-top">Pria</h4>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Berat, (kg)</th>
            <th>Minggu ke-1, (kg)</th>
            <th>Minggu ke-2, (kg)</th>
            <th>Minggu ke-3, (kg)</th>
            <th>Minggu ke-4, (kg)</th>
          </tr>

          <tr>
            <td>60-70</td>
            <td>3-5</td>
            <td>3-5</td>
            <td>4-5</td>
            <td>3-6</td>
          </tr>

          <tr>
            <td>70-80</td>
            <td>3-6</td>
            <td>3-7</td>
            <td>4-8</td>
            <td>4-8</td>
          </tr>

          <tr>
            <td>80-100</td>
            <td>4-9</td>
            <td>5-9</td>
            <td>6-9</td>
            <td>6-9</td>
          </tr>

          <tr>
            <td>100-120</td>
            <td>5-9</td>
            <td>5-9</td>
            <td>6-9</td>
            <td>4-6</td>
          </tr>

          <tr>
            <td>120-160</td>
            <td>5-9</td>
            <td>5-8</td>
            <td>6-10</td>
            <td>6-9</td>
          </tr>
        </tbody>
      </table>

      <h4 class="title--little">Wanita</h4>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Berat, (kg)</th>
            <th>Minggu ke-1, (kg)</th>
            <th>Minggu ke-2, (kg)</th>
            <th>Minggu ke-3, (kg)</th>
            <th>Minggu ke-4, (kg)</th>
          </tr>

          <tr>
            <td>50-60</td>
            <td>2-4</td>
            <td>2-5</td>
            <td>2-3</td>
            <td>2-3</td>
          </tr>

          <tr>
            <td>60-70</td>
            <td>3-5</td>
            <td>3-5</td>
            <td>4-5</td>
            <td>3-6</td>
          </tr>

          <tr>
            <td>70-90</td>
            <td>4-9</td>
            <td>5-9</td>
            <td>5-9</td>
            <td>5-8</td>
          </tr>

          <tr>
            <td>90-100</td>
            <td>5-9</td>
            <td>5-9</td>
            <td>6-9</td>
            <td>4-6</td>
          </tr>

          <tr>
            <td>100-140</td>
            <td>5-9</td>
            <td>5-8</td>
            <td>6-10</td>
            <td>6-9</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="weight-loss">
    <p class="text">
      Untuk memvisualisasikan hasil, kami menyarankan Anda untuk mengisi tabel
      setiap minggu. Jadi Anda bisa mengevaluasi dan mengamati efeknya.
      Selanjutnya, untuk tujuan klarifikasi, Anda dapat mengambil gambar profil,
      melihat bagaimana kelebihan berat badan dibakar di depan mata Anda sendiri
      dengan bantuan SlimMax. Semoga Anda sukses!
    </p>
  </div>

  <div class="product__content">
    <p class="text">
      Formula SlimMax tersebut dibuat di Jakarta Research Center khusus untuk
      orang yang kelebihan berat badan. Produk SlimMax inovatif ini sangat
      diminati oleh para bintang terkenal dunia dan orang-orang yang ingin
      menurunkan berat badan. Akibatnya, kuantitas SlimMax di pasaran menjadi
      terbatas.
    </p>

    <p class="text">
      Kami merekomendasikan untuk membeli SlimMax sesegera mungkin untuk
      memanfaatkan peluang untuk mencapai hasil penurunan berat badan yang
      diinginkan dengan cepat dan efektif. Khusus untuk Anda, kami memberikan
      diskon 50% setelah mengisi tes ini.
    </p>

    <p class="lead">
      * File dengan rekomendasi pribadi dan rencana gizi/olahraga akan segera
      ditampilkan setelah mengisi formulir. Anda dapat mengunduhnya dan memulai
      program Anda hari ini.
    </p>

    <div class="product__wrapper">
      <div class="product__counter-img-wrapper">
        <img
          class="product__counter-img"
          src="img/content/slimmax390.png"
          alt="Продукт"
        />
      </div>

      <div class="product__counter-list">
        <div class="product__counter-item product__counter-item--price">
          <span class="old-price">
            <del> 780.000 IDR </del>
          </span>

          <span class="new-price"> 390.000 IDR </span>
        </div>

        <div class="product__counter-item">
          <span id="product__counter-number">
            Hanya tersisa:
            <span>
              <b>12</b>
            </span>
            paket
          </span>
        </div>

        <div class="product__counter-item">
          <span>
            Pengiriman ke wilayah Anda hanya membutuhkan waktu 2 hari.
          </span>
        </div>

        <div class="product__counter-item">
          <span> Ada tambahan diskon 50% untuk wilayah Anda! </span>
        </div>

        <div class="product__counter-item">
          <span>
            Cepatlah, pada

            <b>
              <span id="cutdownTimer"> 15:00 </span>
            </b>

            kami akan mengubah wilayah dengan diskon
          </span>
        </div>
      </div>
    </div>

    <!-- Форма -->
    <form
      class="product__form shadow p-3 mb-5 bg-body rounded"
      id="form"
      action="get.php"
      method="POST"
    >
      <h2 class="product__form-title">FORMULIR PEMESANAN</h2>

      <div class="product__form-img-and-prices">
        <img
          class="product__little-img"
          src="img/content/slimmax390.png"
          alt=""
        />

        <div class="prices">
          <span class="old-price">
            <del> 780.000 IDR </del>
          </span>

          <span class="new-price"> 390.000 IDR </span>
        </div>
      </div>

      <div class="product__form-icons">
        <img src="img/icon/icon-14.png" alt="" />
        <img src="img/icon/icon-11.png" alt="" />
        <img src="img/icon/icon-12.png" alt="" />
        <img src="img/icon/icon-15.png" alt="" />
      </div>

      <div class="product__form-inputs">
        <!-- Имя -->
        <input
          class="form-control form-control-lg"
          id="name"
          name="name"
          type="text"
          placeholder="Nama:"
          required=""
        />

        <!-- Телефон -->
        <input
          class="form-control form-control-lg"
          id="phone"
          name="phone"
          type="tel"
          placeholder="0812-345-678"
          required=""
          autocomplete="off"
          data-intl-tel-input-id="0"
        />

        <!-- Скрытые поля -->
        <input class="form-control" id="p" name="p" type="hidden" value="{p}" />
        <input
          class="form-control"
          id="offer_id"
          name="offer_id"
          type="hidden"
          value="{offer_id}"
        />
        <input
          class="form-control"
          id="lp_url"
          name="lp_url"
          type="hidden"
          value="{landing_id}"
        />
        <input
          class="form-control"
          id="pub_id"
          name="pub_id"
          type="hidden"
          value="{sub_id_7}"
        />
        <input
          class="form-control"
          id="mediabuyer"
          name="mediabuyer"
          type="hidden"
          value="{sub_id_6}"
        />
        <input
          class="form-control"
          id="pixel"
          name="pixel"
          type="hidden"
          value="{sub_id_3}"
        />
        <input
          class="form-control"
          id="referrer"
          name="referrer"
          type="hidden"
          value="{referrer}"
        />
        <input
          class="form-control"
          id="src"
          name="src"
          type="hidden"
          value="<?php echo (string)$_GET['src'] ?>"
        />
        <input
          class="form-control"
          id="referer"
          name="referer"
          type="hidden"
          value="<?php echo (string)$_GET['r'] ?>"
        />
        <input
          class="form-control"
          id="custom2"
          name="custom2"
          type="hidden"
          value="{subid}"
        />

        <button class="button product__form-button" type="submit">
          KLIK DI SINI,
          <br />
          untuk mendapatkan SlimMax
        </button>
      </div>
    </form>
  </div>
</div>
