.product {
  padding: 0 15px 30px;
  width: 100%;
  padding: 15px;
  padding-bottom: 30px;

  .mini-text{
    font-size: $font-size-helper;
    margin-bottom: 0;
  }

  .margin-top {
    margin-top: 20px;
  }

  &__content {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff8f0;
    border-radius: $border-radius-2;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &__description {
    margin: 0;
    font-size: $font-size-text;
    font-weight: 500;
    line-height: $line-height-2;
    margin-bottom: 16px;
  }

  &__text {
    margin: 0;
    font-size: $font-size-text;
    font-weight: 500;
    line-height: $line-height-2;
    margin-bottom: 16px;

    &--no-margin-bottom {
        margin-bottom: 0;
    }

    &--italic-light {
        font-weight: 300;
        font-style: italic;
    }
  }

  &__counter {
    &-img {
      margin: 0;
      width: 95%;
      height: auto;
      object-fit: cover;

      &-wrapper {
        display: flex;
        justify-content: center;
        // background-image: url("../../img/content/bg-content-1.jpeg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &-list {
      background-color: #fff4d0;
      padding: 10px;
      border-radius: 0 0 10px 10px;
    }

    &-item {
      text-align: center;
      margin-bottom: 10px;

      &--price {
        font-weight: 600;
        margin-bottom: 14px;

        .old-price {
          color: $red;
          font-size: $font-size-btn;
          margin-right: 8px;
        }
        .new-price {
          font-size: $font-size-title;
        }
      }

      span {
        font-size: $font-size-text;
        line-height: $line-height-2;
      }
    }
  }

  &__little {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__little-img {
    display: block;
    margin: 0;
    width: 35%;
    height: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    gap: 15px;
    text-align: center;

    &-img-and-prices {
      display: flex;
      justify-content: center;

      .prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .old-price {
          color: #ef3124;
          font-size: $font-size-btn;
          text-decoration: line-through;
        }

        .new-price {
          font-size: $font-size-title;
          font-weight: 600;
        }
      }
    }

    &-icons {
      display: flex;
      justify-content: space-between;

      img {
        width: 20%;
      }
    }

    &-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .iti {
        width: 100%;
      }
    }
  }

  &__seleba {
    display: flex;
    margin-bottom: 16px;

    &-img {
        width: 30%;
        height: 30%;
        border-radius: 50%;
        margin-right: 15px;
    }

    &-content {
        border: 1px solid rgb(222, 226, 230);
        padding: 10px 12px;
        border-radius: 6px;

        &-text {
            font-size: 16px;
            margin-bottom: 10px;
        }

        &-signature {
            width: 100px;
        }
    }
  }

  .profile{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;

    h5{
      text-align: center;
    }

    &__row{
      display: flex;
      justify-content: space-between;
      padding: 0 8px;

    }
  }

  /* Weight Loss программа */
  .weight-loss {
    padding: 20px 15px;
  }

  .weight-loss__main-title {
    color: #fff;
    padding-bottom: 0;
    overflow: hidden;
  }

  .weight-loss__main-title-icon {
    display: block;
    margin: 0;
    width: 101%;
    margin-top: -1px;
    margin-left: -1px;
  }

  .weight-loss__main-title .title {
    background-color: #7485ff;
    margin: 0;
    padding: 20px;
  }

  .img {
    width: 100%;
    border-radius: $border-radius-1;
    margin: 10px 0 !important;
  }

  /* Выделенный блок 2 */
  .allocated-block-2__icon {
    display: block;
    width: 100%;
    height: auto;
  }

  .allocated-block-2__content {
    margin: 0 auto;
    margin-bottom: 16px;

    & .table {
        margin: 0;
    }
  }

  /* Таблица */
  .table__nutrition {
    display: block;
    border-collapse: collapse;
    overflow: auto;
  }

  .table__nutrition tbody {
    display: block;
    min-width: 600px;
  }

  /* Таблица для мужчины и женщины */
  .table__gen {
    display: block;
    border-collapse: collapse;
    overflow: scroll;
  }

  .table__gen tbody {
    display: block;
  }

  .table__gen th,
  .table__gen td {
    border: solid 1px;
    padding: 2px 4px;
  }

  .table__gen tr th:nth-child(1),
  .table__gen tr td:nth-child(1) {
    min-width: 80px;
  }
}

.fade-text {
  position: relative;

  .btn-more {
    position: absolute;
    padding: 5px 10px;
    border-radius: $border-radius-btn;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    a {
      text-decoration: none;
      color: #000;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Высота затухания (можете настроить подходящее значение) */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.7),
      white
    ); /* Здесь можно задать цвета */
  }


}
